## About
- [progressive metrics](/docs/about_1.md)
- [key to visualization](/docs/about_2.md)
- [test and device metadata](/docs/results_metadata.md)
- [notes](/docs/observations.md)


## Results
- [allrecipes](/pages/2025-01-27-android-allrecipes-aggregate.svg)


## Data
* [json](https://github.com/bdekoz/midnight.ci-2025-01/tree/main/results)
