## About
- [progressive metrics](/docs/about_1.md)
- [key to visualization](/docs/about_2.md)
- [test and device metadata](/docs/results_metadata.md)
- [notes](/docs/observations_notes.md)
- [analysis notebook](/notebooks/lcp_perf_analysis_2025q1.ipynb)
- [perf view](perfview.html)


## Results


## Data
* [json](https://github.com/bdekoz/midnight.ci-2025-02/tree/main/results)
