## About
- [progressive metrics](/docs/about_1.md)
- [key to visualization](/docs/about_2.md)
- [test and device metadata](/docs/results_metadata.md)
- [notes](/docs/observations_notes.md)
- [analysis notebook](https://github.com/bdekoz/midnight.sfo-crux/tree/main/notebooks/lcp_perf_analysis_2025q2.ipynb)


## Results


## Data
* [json](https://github.com/bdekoz/midnight.sfo-crux/tree/main/results)
